$ ->
  AddButton = (context) ->
    ui = $.summernote.ui
    # create button
    button = ui.button(
        contents: '<i class="fa fa-child"/> Add button'
        tooltip: 'Add button'
        click: ->
            node = document.createElement('div')
            node.className += "button"
            context.invoke 'editor.insertNode', node
            return
    )
    button.render()

  $('[data-provider="summernote"]').each ->
    $(this).summernote(
        height: 300,
        minHeight: 300,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']],
            ['custom', ['add_button']]
        ],

        buttons: {
            add_button: AddButton
        }
    )

  # init editors
  $editors = $('[data-provider="summernote"]')
  case_study_editor = $editors.eq(0)
  tile_editor = $editors.eq(1)

  # load code to editors
  case_study_editor.summernote('code', $('#case_study_template_content').val())
  tile_editor.summernote('code', $('#case_study_tile_template_content').val())

  code_shown = false
  btn = $('#generate-code')
  code = $('#code').hide()
  btn.click (e) ->
    slide = if code_shown then 'slideUp' else 'slideDown'
    code[slide]()
    code_shown = !code_shown
    e.preventDefault()

  # insert code to textarea at form submit
  $('.case-study-form').submit () ->
    $('#case_study_template_content').val(case_study_editor.summernote('code'))
    $('#case_study_tile_template_content').val(tile_editor.summernote('code'))

  # image upload
  $('#add_image').click () ->
    $('#image_form input[type="file"]').click()
  $('#image_form input[type="file"]').change () ->
    if /^image\/.*$/.test(this.files[0].type)
      $(this).closest('form').submit()
      $('#add_image').html('Uploading...')
      $('#add_image').attr('disabled', true)
    else
      alert('Please choose image!')

  # template upload
  $('#add_case_study_template').click () ->
    $('#template_form input[name="type"]').val('case_study')
    $('#template_form input[type="file"]').click()

  $('#add_tile_template').click () ->
    $('#template_form input[name="type"]').val('tile')
    $('#template_form input[type="file"]').click()

  $('#template_form input[type="file"]').change () ->
    if /^text\/.*$/.test(this.files[0].type)
      $(this).closest('form').submit()
      $('.add_template').html('Uploading...')
      $('.add_template').attr('disabled', true)
    else
      # TODO reopen due accordion
      alert('Please choose html template!')

  # Editor
  $('.choose-template').on 'click', (e) ->
    self = $(this)

    # define editor
    if self.data('editor') == 'case_study_template_content'
      editor = case_study_editor
    else
      editor = tile_editor

    unless editor.summernote('isEmpty')
      return unless confirm("<%= I18n.t('js.confirm') %>")

    header_template = '<div style="background-image:url({image_path});height:600px;background-size:cover;background-position:50% 50%;text-align:center;color:#fff;margin-right:auto;margin-left:auto;margin-top:0;">
                         <div style="position:relative">
  	                       <h1 style="font-size:96px;position:absolute;left:0;right:0;top:174px;z-index:1">{client}</h1>
  	                       <h2 style="font-size:48px;position:absolute;left:0;right:0;top:300px;z-index:1">{title}</h2>
  	                       <div style="height:600px;width: 100%;margin: auto;position: absolute;background: rgba(0, 0, 0, 0.5);z-index: 0;"></div>
                         </div>
                       </div>'

    $.ajax
      url: self.data('url')
      success: (response) ->
        template = response.template.replace( /\{client}/g, $('#case_study_client').val()).replace( /\{title}/g, $('#case_study_title').val()).replace( /\{image_path}/g, $('#image_path').val())
        header_template = header_template.replace( /\{client}/g, $('#case_study_client').val()).replace( /\{title}/g, $('#case_study_title').val()).replace( /\{image_path}/g, $('#image_path').val())
        # for now no header template
        # template = '<div>' + header_template + template + '</div>' if self.data('editor') == 'case_study_template_content'
        editor.summernote('code', template)

    e.preventDefault()

  # Copy to clipboard behaviour
  $('#tileToClipboard').click () ->
    $('#tile_code').select()
    # copy
    try
      successful = document.execCommand('copy')
      msg = if successful then 'successful' else 'unsuccessful'
      console.log 'Copying text command was ' + msg
    catch err
      console.log 'Oops, unable to copy'
    # clear selection
    if window.getSelection
      if window.getSelection().empty
        # Chrome
        window.getSelection().empty()
      else if window.getSelection().removeAllRanges
        # Firefox
        window.getSelection().removeAllRanges()
      document.selection.empty()