$ ->
  $('[data-provider="summernote"]').each ->
    $(this).summernote(
        height: 300,
        minHeight: 300
    )

  # init editors
  $editors = $('[data-provider="summernote"]')
  case_study_editor = $editors.eq(0)
  tile_editor = $editors.eq(1)

  # load code to editors
  case_study_editor.summernote('code', $('#case_study_template_content').val())
  tile_editor.summernote('code', $('#case_study_tile_template_content').val())

  code_shown = false
  btn = $('#generate-code')
  code = $('#code').hide()
  btn.click (e) ->
    slide = if code_shown then 'slideUp' else 'slideDown'
    code[slide]()
    code_shown = !code_shown
    e.preventDefault()

  # insert code to textarea at form submit
  $('.case-study-form').submit () ->
    $('#case_study_template_content').val(case_study_editor.summernote('code'))
    $('#case_study_tile_template_content').val(tile_editor.summernote('code'))

  # image upload
  $('#add_image').click () ->
    $('#image_form input').click()
  $('#image_form input').change () ->
    $('#image_form').submit();

  # image upload
  $('#add_case_study_template').click () ->
    $('#template_form input').click()
  $('#template_form input').change () ->
    $('#template_form').submit();

  # Editor
  $('.choose-template').on 'click', (e) ->
    self = $(this)

    # define editor
    if self.data('editor') == 'case_study_template_content'
      editor = case_study_editor
    else
      editor = tile_editor

    unless editor.summernote('isEmpty')
      return unless confirm("<%= I18n.t('js.confirm') %>")

    header_template = '<div style="background-image:url({image_path});height:600px;background-size:cover;background-position:50% 50%;text-align:center;color:#fff;margin-right:auto;margin-left:auto;margin-top:0;">
                         <div style="position:relative">
  	                       <h1 style="font-size:96px;position:absolute;left:0;right:0;top:174px;z-index:1">{client}</h1>
  	                       <h2 style="font-size:48px;position:absolute;left:0;right:0;top:300px;z-index:1">{title}</h2>
  	                       <div style="height:600px;width: 100%;margin: auto;position: absolute;background: rgba(0, 0, 0, 0.5);z-index: 0;"></div>
                         </div>
                       </div>'

    $.ajax
      url: self.data('url')
      success: (response) ->
        template = response.template.replace( /\{client}/g, $('#case_study_client').val()).replace( /\{title}/g, $('#case_study_title').val()).replace( /\{image_path}/g, $('#image_path').val())
        header_template = header_template.replace( /\{client}/g, $('#case_study_client').val()).replace( /\{title}/g, $('#case_study_title').val()).replace( /\{image_path}/g, $('#image_path').val())
        template = '<div>' + header_template + template + '</div>' if self.data('editor') == 'case_study_template_content'
        editor.summernote('code', template)

    e.preventDefault()

    # Copy to clipboard behaviour

