blockquote {
  padding: 18px 10px 18px 70px;
  border: 1px solid #a8a8a8;
  margin: 15px 0;
  background-color: #e2e2e2;
  background-position: 20px;
  background-repeat: no-repeat;
  text-indent: 10px;
  background-image: image-url('quote_2.png');
}

blockquote cite {
  color: #a1a1a1;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.sidebar {
  padding: 0 30px;
}

.sidebar__list {
  margin: 0;
  padding: 0 15px;
}

.list__element {
  list-style-type: square;
}
