<div style="width:100%; float:left; padding-bottom:5px; padding: 0px;margin: 0px;font-family: source-sans-pro,sans-serif;">
			<div class="container" style="width: 100%;margin: auto;">
				<div style="width:100%; background:#fafafa; float:left;">
					<div class="left_div" style="background: rgb(255,255,255);border-right: 1px solid #ddd;float: left;width: 60%;">
						<p style="font-size: 29px; font-style: italic; line-height: 48px; font-weight:normal; color: #434358; width: 100%; border-bottom: 1px solid #DDD; margin-bottom: 60px; padding: 60px 0px; margin-top:0px; width:90%;">{title}</p>
						<div class="con_main">
							<p style="font-size: 17px;line-height: 32px;font-weight: 400;color: #808080;width: 90%;">Your text here</p>
						</div>
					</div>
					<div class="right_div" style="width: 38%;float: left;">
						<div style="width:100%; float:left;">
							<p style="padding-top:15px; width:100%; margin-bottom:29px;">
							<h2 class="pad_left_16" style="margin: 30px 0px;width: 100%;font-weight: 600;color: #434358;font-size: 21px;padding-left: 16%;">{client}</h2>
							</p>
							<p class="pad_left_16" style="padding-left: 16%;">
							<div class="right_border" style="float: left;margin-bottom: 15px;width: 70%;border: 1px solid #ddd;margin-left: 16%;background: #fff;padding: 15px;">
								<span style="float:left;"><img src="{image_path}" height="72"> </span>
								<span style="float:left; margin-left:20px; padding-top:15px; font-weight:600; font-size:14px; line-height:21px; color:#434358;">
								Title<br>
								<a style="font-weight:600; font-size:13px; text-decoration:none; color:#339ae8;" href="#">Learn More</a>
								</span>
							</div>
							</p>
						</div>
						<div style="width:100%; float:left;">
							<p style=" width:100%; margin-bottom:29px;">
							<h2 class="pad_left_16" style="margin: 30px 0px;width: 100%;font-weight: 600;color: #434358;font-size: 21px;padding-left: 16%;">Features:</h2>
							</p>
							<div class="right_border" style="float: left;margin-bottom: 15px;width: 70%;border: 1px solid #ddd;margin-left: 16%;background: #fff;padding: 15px;">
								<span style="float:left; margin-left:15px; margin-top:0px;"><img src="http://placeholdit.imgix.net/~text?txtsize=30&txt=icon&w=32&h=32" width="32" height="32"> </span>
								<span style="float:left; margin-left:20px; padding-top:4px; font-weight:400; font-size:14px; line-height:22px; color: #808080;">
								Sample text <br>
								</span>
							</div>
							<div class="right_border" style="float: left;margin-bottom: 15px;width: 70%;border: 1px solid #ddd;margin-left: 16%;background: #fff;padding: 15px;">
								<span style="float:left; margin-left:15px; margin-top:0px;"><img src="http://placeholdit.imgix.net/~text?txtsize=30&txt=icon&w=32&h=32" width="32" height="32"> </span>
								<span style="float:left; margin-left:20px; padding-top:4px; font-weight:400; font-size:14px; line-height:22px; color: #808080;">
								Sample text <br>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>