<div class="main_container" style="width: 100%;height: auto;margin: auto; padding: 0px;margin: 0px;font-family: LLCircularWeb,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;">
			<div class="blue_in" style="margin: auto;background: #59afe1;padding-top: 20px;padding-bottom: 20px;margin-bottom: 40px;padding-left: 50px;width: 87%;min-height: 140px;">
				<p class="blue_p" style="color: rgb(255,255,255);font-weight: bold;width: 65%;float: left;font-size: 30px;">
					{title}
				</p>
				<p class="blue_p_right" style="margin-top: 2%;width: 30%;float: left;margin: 0px;text-align: right;border-left: 1px solid rgb(204,204,204);line-height: 40px;"><img src="{image_path}" height="100">
				</p>
			</div>
			<div class="pad_1st" style="width: 100%;padding-left: 20%;">
				<div class="profile1" style="float: left;width: 30%;">
					<h3 style="font-size:19px; color:#205081; margin: 0px 0px 11px;">Header #1</h3>
					<p style="font-size:14px; line-height:22px;">Some text</p>
					<h3 style="font-size:19px; color:#205081; margin: 0px 0px 11px;">Header #2</h3>
					<p style="font-size:14px; line-height:22px;">Some text</p>
					<h3 style="font-size:19px; color:#205081; margin: 0px 0px 11px;">Header #3</h3>
					<p style="font-size:14px; line-height:22px;">Some text</p>
				</div>
				<div class="profile2" style="width: 40%;float: left;">
					<h3 style=" color:#205081; font-size:19px; margin: 0px 0px 11px;">Key Takeaways</h3>
					<ul style="font-size:14px; padding:0px;">
						<li style="margin-bottom:30px; line-height:22px;">Takeaway #1</li>
						<li style="margin-bottom:30px; line-height:22px;">Takeaway #2</li>
						<li style="margin-bottom:30px; line-height:22px;">Takeaway #3<br> &nbsp;</li>
					</ul>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
		<!--main-->
		<div style="width:100%; background:#f6c342; float:left; padding-top:50px; padding-bottom:50px; margin-bottom:50px;">
			<div style="background: none;width: 960px;height: auto;margin: auto;" class="main_container">
				<h2 class="yellow_font" style="line-height: 38px;font-family: &quot;TisaWeb&quot;,&quot;Georgia&quot;,serif;font-weight: bold;font-style: italic;color: rgb(255,255,255);" align="center"> “Clients quote” </h2>
				<p style=" font-size:14px; color:rgb(255,255,255); text-align:center; margin-top:20px;">
					— {client}
				</p>
			</div>
		</div>
		<div style="width:100%; background:none; float:left;  padding-bottom:50px; ">
			<div style="background: none;width: 960px;height: auto;margin: auto;" class="main_container">
				<div class="column colspan-1 text-left">
					<h1 style="color:#205081;">Main header</h1>
					<p style="color: #333;">Paragraph #1</p>
					<p style="color: #333;"><strong>Subheader</strong></p>
					<p style="color: #333;">Paragraph #2</p>
				</div>
			</div>
		</div>
		<div style="width:100%; background:#59afe1; float:left;  padding-top:50px; padding-bottom:50px;">
			<div style="background: none;width: 960px;height: auto;margin: auto;" class="main_container">
				<p>
				<h2 align="center" style="color:rgb(255,255,255); font-size:32px;">Sample text</h2>
				</p><p align="center">  <a class="button blue-dark" href="http://www.example.com" style="text-decoration: none;border: 1px solid transparent;border-radius: 4px;cursor: pointer;display: inline-block;font-size: 18px;line-height: 1.5;padding: 7px 14px;text-align: center;vertical-align: middle;white-space: nowrap;background-color: #205081;border-color: #205081;color: #FFF;">Insert your business name</a></p>
				
			</div>
		</div>