<style>
.case-study-template-1 {
  font-family: LLCircularWeb, Helvetica Neue, Helvetica, sans-serif; }
  .case-study-template-1 h2 {
    font-size: 19px;
    color: #205081; }
  .case-study-template-1 h2 {
    font-size: 19px;
    color: #205081; }
  .case-study-template-1 li {
    margin-bottom: 20px; }
  .case-study-template-1 blockquote {
    border: none;
    background: none;
    line-height: 38px;
    font-family: TisaWeb, Georgia, serif;
    font-weight: bold;
    font-size: 38px;
    font-style: italic;
    color: white;
    text-align: center; }
  .case-study-template-1 .header {
    font-size: 30px;
    float: none;
    margin: auto;
    border: none;
    background-color: #59afe1;
    display: block;
    width: 90%;
    color: white;
    padding: 20px; }
    .case-study-template-1 .header td {
      border-top: none;
      width: 25%;
      text-align: center;
      vertical-align: middle; }
      .case-study-template-1 .header td:first-child {
        width: 100%;
        word-break: break-all;
        border-right: solid 1px white;
        text-align: left;
        vertical-align: top; }
  .case-study-template-1 .table-40x60 {
    margin: 40px auto auto auto;
    font-size: 14px;
    width: 60%;
    float: none; }
    .case-study-template-1 .table-40x60 tr {
      vertical-align: top; }
    .case-study-template-1 .table-40x60 td {
      border-top: none;
      width: 60%; }
      .case-study-template-1 .table-40x60 td:first-child {
        width: 40%; }
  .case-study-template-1 .quote-block {
    text-align: center;
    width: 100%;
    background: #f6c342;
    margin-top: 40px;
    padding: 50px; }
    .case-study-template-1 .quote-block p {
      text-align: center;
      font-size: 14px;
      color: white; }
  .case-study-template-1 .table-100 {
    width: 80%;
    margin: 30px auto auto auto; }
    .case-study-template-1 .table-100 td {
      border-top: none;
      word-break: break-all;
      width: 1%; }
      .case-study-template-1 .table-100 td:first-child {
        width: 99%; }
  .case-study-template-1 .bottom-block {
    width: 100%;
    background: #59afe1;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px auto auto auto;
    color: white; }
    .case-study-template-1 .bottom-block tr td {
      text-align: center;
      padding-bottom: 50px;
      border-top: none; }
    .case-study-template-1 .bottom-block tr:first-child td {
      padding-top: 50px;
      padding-bottom: 0; }
  .case-study-template-1 .button {
    margin: auto;
    border: 1px solid #205081;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #205081;
    color: #FFF; }
    .case-study-template-1 .button a, .case-study-template-1 .button a:hover, .case-study-template-1 .button a:active {
      text-decoration: none;
      color: white; }
</style>

<div class="case-study-template-1">
  <table class="header">
    <tbody>
      <tr>
        <td>
          <h1>{title}</h1>
        </td>
        <td>
          <p><img src="{image_path}" alt="" height="100"></p>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table-40x60">
    <tbody>
      <tr>
        <td>
          <h2>Header #1</h2>
          <p>Filler text</p>
        </td>
        <td>
          <h2>Key Takeaways</h2>
          <ul>
            <li>Takeaway #1</li>
            <li>Takeaway #2</li>
            <li>Takeaway #3</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="quote-block">
    <blockquote>“Client's quote”</blockquote>
    <p>— {client}</p>
  </div>
  <table class="table-100">
    <tbody>
      <tr>
        <td>
          <h1>Main header</h1>
          <p>&nbsp;Paragraph #1</p>
          <p><strong>Subheader</strong></p>
          <p>Paragraph #2</p>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br><table class="bottom-block">
    <tbody>
      <tr>
        <td>
          <h1 style="text-align: center; ">More information at link below</h1>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button">
            <a href="#">Insert link</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>