<div style="width:100%; float:left; padding: 0px;margin: 0px;font-family: Arial, Helvetica, sans-serif;">
      <div class="container" style="max-width: 900px;margin: auto;">
        <div style="width:100%; float:left; padding-top:20px;">
          <!-- left-->
          <div style="width:25%; float:left;"><a href="#"><img src="{image_path}" width="150"> </a></div>
          <div style="width:70%; float: right; padding-top:25px; color:#6f7175; text-align:right;"> {client} / {title}</div>
        </div>
        <div style="width:100%; float:left; padding-top:20px; margin-top:45px;">
          <div class="left_div" style="float: left;width: 25%;">
            <p style="padding-top:60px; color:#57af41; line-height:23px;">
              “Quote” <br> <br>
              <font color="#9a9b9f">
              <strong>{client}
              </font>             
            </p>
          </div>
          <!-- left-->
          <!--right-->
          <div class="right_div" style="float: right;width: 70%;">
            <p style="color:#2ab9ea; font-weight: normal; font-size:40px;">
              {title}
            </p>
            <p style=" color:#0f3561; font-size:20px;"> Subtitle</p>
            <ul style="font-size:15px; color:#6f7175; margin:0px; padding-left:19px; line-height:23px;">
              <li style="margin-bottom:30px;">
                Sample text
              </li>
              <li style="margin-bottom:30px;">
                Sample text
              </li>
              <li style="margin-bottom:30px;">
                Sample text
              </li>
              <li style="margin-bottom:30px;">
                Sample text
              </li>
              <li style="margin-bottom:30px;">
                Sample text
              </li>
              <li style="margin-bottom:30px;">
                Sample text
              </li>
            </ul>
          </div>
          <!--right-->
          <p style="width:100%; float:left; margin-top:45px; margin-bottom:15px; font-size:18px; font-weight:normal; color:#6f7175; line-height:23px;">
            <font style="color:#0f3561; "><a style="color:#0f3561; text-decoration:none;" href="#">Learn More</a></font><br>
            Sample text<br>
          </p>
        </div>
      </div>
    </div>