<div style="display: block; width: 320px; font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    		color: #565f65; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;">
	<p style ="font-size: 16px; line-height: 1.5; font-weight: normal;">
    	{content}
    </p>
    <div style="margin-top: 30px;">
    	<img style="border-radius: 50%;" width="60" height="60" src="{image_path}" alt="" title="{role}, {company}">
    	<div style="
    		display: inline-block;
    		position: absolute;
    		margin: 10px;
    		max-width: 240px;">
    		<div style="color: #0075bb;
    		font-size: 18px;
    		line-height: 1.33;
    		font-family: 'Gibson',arial,sans-serif;">
    			{name}
    		</div>
    	<small>
    		{role}, {company}
    	</small>
    	</div>
    </div>
</div>