<div style="word-break: break-word; max-width: 400px; float: left; min-width: 250px; padding:0 25px; border:1px solid #dddddd; border-top:5px solid #78afd8; background:rgb(255,255,255); color: #434358; font-size:24px;">
	<p><strong>{client}</strong> - {title}</p>
	<div style="margin: 0 -25px; border-top: 1px solid #dddddd;"></div>
	<div style="margin: 0 -5px;">
		<p><img src="{image_path}" width="128" style="float: left; margin-bottom: 20px"></p>
		<p style="float:right; font-weight:600; font-size:13px; color:#339ae8;">Learn more</p>
	</div>
</div>