// Place all the styles related to the backend/testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-danger, .btn-success {
  a, a:hover {
    color: white;
    text-decoration: none;
  }
}